@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  min-height: 80vh;
  margin-top: -8px;
  padding-top: 1.5rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
  box-shadow: 2px 4px 6px 3px #000000;
}

.home_name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.home_name--last {
  color: #055551;
}

.home_name small {
  color: #ffff;
  text-align: start;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.home header {
  height: 45vh;
  width: 100%;
  border-radius: 0 0 85% 85%/30%;
  box-shadow: 2px 4px 6px 3px #000000fb;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.5)), url("/images/general_images/mybg2.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  margin-top: -1.5rem;
}

.home button {
  background: #ffff;
  color: #000;
  border-radius: 50%;
  box-shadow: 0 3px 20px 0 #0000003b;
  border: none;
  outline: none;
  padding: 30px 20px;
}

@media (max-width: 969px) {
  .home .home_name {
    font-size: 1.7rem;
  }
}

footer {
  background: #0f6b6e;
  padding: 10px 0;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer ul li {
  color: #fff;
  line-height: 76px;
}

ul {
  list-style: none;
}

