@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  min-height: 80vh;
  margin-top: -8px;
  padding-top: 1.5rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
  box-shadow: 2px 4px 6px 3px #000000;
}

.home_name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.home_name--last {
  color: #055551;
}

.home_name small {
  color: #ffff;
  text-align: start;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.home header {
  height: 45vh;
  width: 100%;
  border-radius: 0 0 55% 0%;
  box-shadow: 2px 4px 6px 3px #000000fb;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.5)), url("/images/general_images/mybg2.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  margin-top: -1.5rem;
}

.home button {
  background: #ffff;
  color: #000;
  border-radius: 20%;
  box-shadow: 0 3px 20px 0 #0000003b;
  border: none;
  outline: none;
  padding: 10px 20px;
}

@media (max-width: 969px) {
  .home .home_name {
    font-size: 1.7rem;
  }
}

footer {
  width: 100vw;
  background: #0f6b6e;
  padding: 1px 0;
  margin-top: 1rem;
  position: static;
  bottom: 0;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer ul li {
  color: #fff;
  line-height: 76px;
}

footer article {
  display: flex;
  flex-flow: column;
  background: #141313;
  justify-content: space-around;
}

footer article small {
  color: #ffffff;
  font-style: italic;
  line-height: 3rem;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  text-align: start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: space-between;
}

footer article span {
  font-size: 2rem;
  color: #972c2c;
  text-align: start;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 37rem;
}

footer article p {
  color: orange;
  font-synthesis: style;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 2rem;
  text-align: start;
  margin-left: 40rem;
}

@media (max-width: 1054px) {
  footer article p {
    text-align: center;
    margin-left: 1rem;
  }

  footer article small {
    text-align: center;
  }

  footer article span {
    text-align: center;
    margin-left: 1rem;
  }
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

.employees {
  border-radius: 0 0% 85%/4% 0%;
  box-shadow: 2px 4px 6px 3px #000000fb;
  background: linear-gradient(#fffffb 80%, #ffffff 100%);
}

.button {
  background: #0f6b6e;
  color: #fffffb;
  border-radius: 20%;
  box-shadow: 0 3px 20px 0 #0000003b;
  border: none;
  outline: none;
  padding: 10px 20px;
}

