body{
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
    color: #027a7a;
}
.deccided-height{
    height: 260px;
}
.fa-plus{
    cursor: pointer;
}
.letter_input{
    display: none;
    border: 2px solid #646464;
}
.active{
    color: #08b6b6 !important
}
.active:hover{
    color:#aa1515 !important;
}
.fixed-top{

    margin-bottom: 9rem !important;
    /* width: 97.8%; */
    z-index: 100;
}
.brand-icon{margin-top: 3rem;}


#skills{
    font-weight: bold;
    text-transform: capitalize;
}
@media(max-width:1200px)
{
        .deccided-height{
            height: 290px;
        }
        h2,h1,h3, h4,h5,h6{
            font-size: 1rem;
            /* color: red; */
        }

}
